USE [master]
GO
/****** Object:  Database [WMS_new]    Script Date: 09/01/2025 23:22:13 ******/
CREATE DATABASE [WMS_new]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WMS_new', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WMS_new.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WMS_new_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WMS_new_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WMS_new].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WMS_new]
GO
/****** Object:  Table [dbo].[CommitmentTime]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommitmentTime](
	[CommitmentTimeID] [bigint] IDENTITY(1,1) NOT NULL,
	[TimeSlot] [datetime] NOT NULL,
	[Maxslots] [int] NOT NULL,
	[RemainingSlots] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[WarehouseID] [int] NOT NULL,
 CONSTRAINT [PK_CommitmentTime] PRIMARY KEY CLUSTERED 
(
	[CommitmentTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Sex] [bit] NOT NULL,
	[birthday] [date] NULL,
	[DetailedAddress] [nvarchar](100) NOT NULL,
	[WardID] [int] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryRequest]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryRequest](
	[DeliveryID] [bigint] IDENTITY(1,1) NOT NULL,
	[DeliveryType] [nvarchar](50) NOT NULL,
	[IsComplete] [bit] NOT NULL,
	[DeliveryNote] [nvarchar](255) NULL,
	[DetailedAddress] [nvarchar](50) NOT NULL,
	[WarehouseID_Des] [int] NOT NULL,
	[PhoneNumber_Customer] [nvarchar](15) NULL,
	[WardID] [int] NOT NULL,
	[IMEI] [bigint] NOT NULL,
	[CommitmentTimeID] [bigint] NOT NULL,
 CONSTRAINT [PK_DeliveryRequest] PRIMARY KEY CLUSTERED 
(
	[DeliveryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[DistrictID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](100) NOT NULL,
	[ProvinceID] [int] NOT NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryOfDeliveryRequest]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryOfDeliveryRequest](
	[HistoryOfDeliveryRequest] [bigint] IDENTITY(1,1) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[DeliveryID] [bigint] NOT NULL,
	[UserID_Update] [bigint] NOT NULL,
	[UserID_Autherized] [bigint] NULL,
 CONSTRAINT [PK_HistoryOfDeliveryRequest] PRIMARY KEY CLUSTERED 
(
	[HistoryOfDeliveryRequest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryOfIMEIProduct]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryOfIMEIProduct](
	[HistoryOfIMEIProductID] [bigint] IDENTITY(1,1) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[WarehouseID_Update] [int] NULL,
	[IMEI] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
 CONSTRAINT [PK_HistoryOfIMEIProduct] PRIMARY KEY CLUSTERED 
(
	[HistoryOfIMEIProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryOfWarehouse]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryOfWarehouse](
	[HistoryOfWarehouseID] [bigint] IDENTITY(1,1) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[WarehouseID] [int] NOT NULL,
 CONSTRAINT [PK_HistoryOfWarehouse] PRIMARY KEY CLUSTERED 
(
	[HistoryOfWarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMEI_Product]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMEI_Product](
	[IMEI] [bigint] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[ProductID] [int] NOT NULL,
	[WarehouseID_Now] [int] NOT NULL,
 CONSTRAINT [PK_IMEI_Product] PRIMARY KEY CLUSTERED 
(
	[IMEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
	[NationID] [int] NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nation]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nation](
	[NationID] [int] IDENTITY(1,1) NOT NULL,
	[NationName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Nation] PRIMARY KEY CLUSTERED 
(
	[NationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[TypeOfProductID] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ProvinceID] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceName] [nvarchar](100) NOT NULL,
	[LocationID] [int] NOT NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleBasePermissions]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleBasePermissions](
	[RoleID] [int] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[AccessWebsite] [bit] NOT NULL,
	[AccessMobile] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfProduct]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfProduct](
	[TypeOfProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[CurrentStock] [int] NOT NULL,
 CONSTRAINT [PK_TypeOfProduct] PRIMARY KEY CLUSTERED 
(
	[TypeOfProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfWarehouse]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfWarehouse](
	[TypeOfWarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[TypeOfWarehouseName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeOfWarehouse] PRIMARY KEY CLUSTERED 
(
	[TypeOfWarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [bigint] IDENTITY(1000,1) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Avatar] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[WarehouseID_Work] [int] NULL,
 CONSTRAINT [PK_User_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Verify]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verify](
	[VerifyCode] [int] NOT NULL,
	[DeliveryID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
 CONSTRAINT [PK_Verify] PRIMARY KEY CLUSTERED 
(
	[VerifyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ward]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward](
	[WardID] [int] IDENTITY(1,1) NOT NULL,
	[WardName] [nvarchar](100) NOT NULL,
	[DistrictID] [int] NOT NULL,
 CONSTRAINT [PK_Ward] PRIMARY KEY CLUSTERED 
(
	[WardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[WarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseName] [nvarchar](50) NOT NULL,
	[DetailedAddress] [nvarchar](100) NOT NULL,
	[Capacity] [int] NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[WardID] [int] NOT NULL,
	[TypeOfWarehouseID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Warehouse] PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Warehouse] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CommitmentTime]  WITH CHECK ADD  CONSTRAINT [FK_CommitmentTime_Warehouse] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouse] ([WarehouseID])
GO
ALTER TABLE [dbo].[CommitmentTime] CHECK CONSTRAINT [FK_CommitmentTime_Warehouse]
GO
ALTER TABLE [dbo].[DeliveryRequest]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryRequest_CommitmentTime] FOREIGN KEY([CommitmentTimeID])
REFERENCES [dbo].[CommitmentTime] ([CommitmentTimeID])
GO
ALTER TABLE [dbo].[DeliveryRequest] CHECK CONSTRAINT [FK_DeliveryRequest_CommitmentTime]
GO
ALTER TABLE [dbo].[DeliveryRequest]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryRequest_Customer] FOREIGN KEY([PhoneNumber_Customer])
REFERENCES [dbo].[Customer] ([PhoneNumber])
GO
ALTER TABLE [dbo].[DeliveryRequest] CHECK CONSTRAINT [FK_DeliveryRequest_Customer]
GO
ALTER TABLE [dbo].[DeliveryRequest]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryRequest_IMEI_Product] FOREIGN KEY([IMEI])
REFERENCES [dbo].[IMEI_Product] ([IMEI])
GO
ALTER TABLE [dbo].[DeliveryRequest] CHECK CONSTRAINT [FK_DeliveryRequest_IMEI_Product]
GO
ALTER TABLE [dbo].[DeliveryRequest]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryRequest_Ward] FOREIGN KEY([WardID])
REFERENCES [dbo].[Ward] ([WardID])
GO
ALTER TABLE [dbo].[DeliveryRequest] CHECK CONSTRAINT [FK_DeliveryRequest_Ward]
GO
ALTER TABLE [dbo].[DeliveryRequest]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryRequest_Warehouse] FOREIGN KEY([WarehouseID_Des])
REFERENCES [dbo].[Warehouse] ([WarehouseID])
GO
ALTER TABLE [dbo].[DeliveryRequest] CHECK CONSTRAINT [FK_DeliveryRequest_Warehouse]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_District_Province] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_District_Province]
GO
ALTER TABLE [dbo].[HistoryOfDeliveryRequest]  WITH CHECK ADD  CONSTRAINT [FK_HistoryOfDeliveryRequest_DeliveryRequest] FOREIGN KEY([DeliveryID])
REFERENCES [dbo].[DeliveryRequest] ([DeliveryID])
GO
ALTER TABLE [dbo].[HistoryOfDeliveryRequest] CHECK CONSTRAINT [FK_HistoryOfDeliveryRequest_DeliveryRequest]
GO
ALTER TABLE [dbo].[HistoryOfDeliveryRequest]  WITH CHECK ADD  CONSTRAINT [FK_HistoryOfDeliveryRequest_User] FOREIGN KEY([UserID_Update])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[HistoryOfDeliveryRequest] CHECK CONSTRAINT [FK_HistoryOfDeliveryRequest_User]
GO
ALTER TABLE [dbo].[HistoryOfDeliveryRequest]  WITH CHECK ADD  CONSTRAINT [FK_HistoryOfDeliveryRequest_User1] FOREIGN KEY([UserID_Autherized])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[HistoryOfDeliveryRequest] CHECK CONSTRAINT [FK_HistoryOfDeliveryRequest_User1]
GO
ALTER TABLE [dbo].[HistoryOfIMEIProduct]  WITH CHECK ADD  CONSTRAINT [FK_HistoryOfIMEIProduct_IMEI_Product] FOREIGN KEY([IMEI])
REFERENCES [dbo].[IMEI_Product] ([IMEI])
GO
ALTER TABLE [dbo].[HistoryOfIMEIProduct] CHECK CONSTRAINT [FK_HistoryOfIMEIProduct_IMEI_Product]
GO
ALTER TABLE [dbo].[HistoryOfIMEIProduct]  WITH CHECK ADD  CONSTRAINT [FK_HistoryOfIMEIProduct_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[HistoryOfIMEIProduct] CHECK CONSTRAINT [FK_HistoryOfIMEIProduct_User]
GO
ALTER TABLE [dbo].[HistoryOfWarehouse]  WITH CHECK ADD  CONSTRAINT [FK_HistoryOfWarehouse_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[HistoryOfWarehouse] CHECK CONSTRAINT [FK_HistoryOfWarehouse_User]
GO
ALTER TABLE [dbo].[HistoryOfWarehouse]  WITH CHECK ADD  CONSTRAINT [FK_HistoryOfWarehouse_Warehouse] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouse] ([WarehouseID])
GO
ALTER TABLE [dbo].[HistoryOfWarehouse] CHECK CONSTRAINT [FK_HistoryOfWarehouse_Warehouse]
GO
ALTER TABLE [dbo].[IMEI_Product]  WITH CHECK ADD  CONSTRAINT [FK_IMEI_Product_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[IMEI_Product] CHECK CONSTRAINT [FK_IMEI_Product_Product]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_Nation] FOREIGN KEY([NationID])
REFERENCES [dbo].[Nation] ([NationID])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_Nation]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_TypeOfProduct] FOREIGN KEY([TypeOfProductID])
REFERENCES [dbo].[TypeOfProduct] ([TypeOfProductID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_TypeOfProduct]
GO
ALTER TABLE [dbo].[Province]  WITH CHECK ADD  CONSTRAINT [FK_Province_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Location] ([LocationID])
GO
ALTER TABLE [dbo].[Province] CHECK CONSTRAINT [FK_Province_Location]
GO
ALTER TABLE [dbo].[RoleBasePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RoleBasePermissions_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[RoleBasePermissions] CHECK CONSTRAINT [FK_RoleBasePermissions_Role]
GO
ALTER TABLE [dbo].[RoleBasePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RoleBasePermissions_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[RoleBasePermissions] CHECK CONSTRAINT [FK_RoleBasePermissions_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Warehouse] FOREIGN KEY([WarehouseID_Work])
REFERENCES [dbo].[Warehouse] ([WarehouseID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Warehouse]
GO
ALTER TABLE [dbo].[Verify]  WITH CHECK ADD  CONSTRAINT [FK_Verify_DeliveryRequest] FOREIGN KEY([DeliveryID])
REFERENCES [dbo].[DeliveryRequest] ([DeliveryID])
GO
ALTER TABLE [dbo].[Verify] CHECK CONSTRAINT [FK_Verify_DeliveryRequest]
GO
ALTER TABLE [dbo].[Verify]  WITH CHECK ADD  CONSTRAINT [FK_Verify_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Verify] CHECK CONSTRAINT [FK_Verify_User]
GO
ALTER TABLE [dbo].[Ward]  WITH CHECK ADD  CONSTRAINT [FK_Ward_District] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Ward] CHECK CONSTRAINT [FK_Ward_District]
GO
ALTER TABLE [dbo].[Warehouse]  WITH CHECK ADD  CONSTRAINT [FK_Warehouse_TypeOfWarehouse] FOREIGN KEY([TypeOfWarehouseID])
REFERENCES [dbo].[TypeOfWarehouse] ([TypeOfWarehouseID])
GO
ALTER TABLE [dbo].[Warehouse] CHECK CONSTRAINT [FK_Warehouse_TypeOfWarehouse]
GO
ALTER TABLE [dbo].[Warehouse]  WITH CHECK ADD  CONSTRAINT [FK_Warehouse_Ward] FOREIGN KEY([WardID])
REFERENCES [dbo].[Ward] ([WardID])
GO
ALTER TABLE [dbo].[Warehouse] CHECK CONSTRAINT [FK_Warehouse_Ward]
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 09/01/2025 23:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Login]
	@UserID BIGINT,
	@Password NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM [User]
	WHERE UserID = @UserID AND Password = @Password;
END;
GO
USE [master]
GO
